<div class="text-center">

  <h1 style="margin: 20px;">Challenges</h1>

  <button id="random_challenge">Random challenge!</button>
  <% i = 1 + rand(@posts.length - 1) %>
  <% post = @posts[i]%>
  <% if post != nil %>
  <div id="r_challenge" class="post hidden">
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
  </div>
  <% end %>

</div>


  <% i=1 %>
  <% @posts.each do |p| %>
    <% if i % 3 == 1  %>
      <% if i != 1 %>
        </div>
      <% end %>
      <div class="row">
        <div class="post col-sm-4">
          <h3><%= link_to p.title, post_path(p) %> </h3>
          <p><%= truncate(p.body, :length => 60) %></p>
          <h4 style="text-align: center;">Created By: <%= link_to p.user.name, user_path(p.user) %></h4>
          <p> <%= time_ago_in_words(p.created_at) %> ago... </p>
        </div>
        <% i += 1 %>
    <% else %>
      <div class="post col-sm-4">
        <h3><%= link_to p.title, post_path(p) %> </h3>
        <p><%= truncate(p.body, :length => 60) %></p>
        <h4 style="text-align: center;">Created By: <%= link_to p.user.name, user_path(p.user) %> </h4>
        <p> <%= time_ago_in_words(p.created_at) %> ago... </p>
      </div>
      <% i += 1 %>
    <% end %>
  <% end %>
