<h1 class="text-center"> <%= @post.title %> </h1>
<div class="post container">
  <h4>Created By: <%= link_to @post.user.name, user_path(@post.user) %> <span style="font-size: 14px; float: right;"> <%= time_ago_in_words(@post.created_at) %> ago... </span></h4>
  <p class="text-center"><%= @post.body %></p>
</div>

<h3>Comments:</h3>

  <% @post.comments.each do |c| %>
    <div class="comment container">
      <h4><%= c.user.name %></h4>
      <p><%= c.body %></p>
      <% if logged_in? && current_user == c.user %>
      <%= link_to "Delete", [c.post, c] , method: :delete %>
      <% end %>
    </div>
  <% end %>



  <% if logged_in? %>
  <h3>Add Comment:</h3>
    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_area :body, placeholder: "Comment body...", required: true %>
      <%= f.submit %>
    <% end %>
  <% else %>
    <%= link_to "Login", new_session_path %> to add a comment!
  <% end %>
